<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="infoSideFragment">
<link rel="stylesheet" href="/css/fragment/info_side.css">
<div class="row" style="background-color: yellow;">
<div><div class="b">빈공간</div></div>
	<div>
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
		</svg>
		<input type="text" id="menuSearch" style="background-color: yellow;"  placeholder="메뉴를 검색하세요.">
	</div>
		<div>★ 즐겨찾는 메뉴</div>
		<table class="list-group" style="background-color: yellow;">
			<tr>
				<td class="list-group-item active">채플</td>
				<td class="update">채플출석조회</td>
			</tr>
			<tr>
				<td class="list-group-item" colspan="1" onclick="sc();">학적</td>
				<td>
					<!-- <ul>
						<li>d</li>
						<li>d</li>
						<li>d</li>
					</ul> -->
				</td>
			</tr>
			<tr>
				<td class="list-group-item" >수강</td>
				<td></td>
			</tr>
			<tr>
				<td class="list-group-item" > 성적</td>
				<td></td>
			</tr>
			<tr>
				<td class="list-group-item" >장학</td>
				<td></td>
			</tr>
			<tr>
				<td class="list-group-item">등록</td>
				<td></td>
			</tr>
	</table>
	
</div>
<script type="text/javascript" src="/js/fragment/info_side.js"></script>
</th:block>

</html>